<a href="https://colab.research.google.com/github/prathu47/Python_Workshop/blob/master/Day_2_session_1_Exercise_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#print multiples of 3 upto 200 using a list

In [ ]:
def multiple(m, n): 
  
    # inserts all elements from n to  
    # (m * n)+1 incremented by n. 
    a = range(n, (m * n)+1, n) 
      
    print(*a) 
  
# driver code  
m = 200
n = 3
multiple(m, n)

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198 201 204 207 210 213 216 219 222 225 228 231 234 237 240 243 246 249 252 255 258 261 264 267 270 273 276 279 282 285 288 291 294 297 300 303 306 309 312 315 318 321 324 327 330 333 336 339 342 345 348 351 354 357 360 363 366 369 372 375 378 381 384 387 390 393 396 399 402 405 408 411 414 417 420 423 426 429 432 435 438 441 444 447 450 453 456 459 462 465 468 471 474 477 480 483 486 489 492 495 498 501 504 507 510 513 516 519 522 525 528 531 534 537 540 543 546 549 552 555 558 561 564 567 570 573 576 579 582 585 588 591 594 597 600

#print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:
nl=[]
for x in range(1000, 2000):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1015,1050,1085,1120,1155,1190,1225,1260,1295,1330,1365,1400,1435,1470,1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995

#Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [ ]:
 def reverse(string): 
    string = string[::-1] 
    return string 
  
s = "Geeksforgeeks"
  
print ("The original string  is : ",end="") 
print (s) 
  
print ("The reversed string(using extended slice syntax) is : ",end="") 
print (reverse(s))

The original string  is : Geeksforgeeks
The reversed string(using extended slice syntax) is : skeegrofskeeG

#Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [ ]:
l=[x for x in range(500,int(input("enter n"))+1)if x%5==0]
print(l)

enter n1000
[500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995, 1000]


#Calculate the Average of  the numbers in a List by getting the elements of list from keyboard .

In [ ]:
n=int(input("Enter the number of elements to be inserted: "))
a=[]
for i in range(0,n):
    elem=int(input("Enter element: "))
    a.append(elem)
avg=sum(a)/n
print("Average of elements in the list",round(avg,2))

Enter the number of elements to be inserted: 4
Enter element: 8
Enter element: 7
Enter element: 2
Enter element: 6
Average of elements in the list 5.75

#Print lists of odd,even and multiples of 5 numbers from 1 to 1000 using list comprehension

In [ ]:
num = int(input("Enter a number: "))  
if (num % 2) == 0:  
   print("{0} is Even number".format(num))  
else:  
   print("{0} is Odd number".format(num))
l=[x for x in range(1,int(input("enter num"))+1)if x%5==0]
print(l)

Enter a number: 5
5 is Odd number
enter num25
[5, 10, 15, 20, 25]

#Python Program to Create a List of Tuples with the First Element as the Number and Second Element as the Square of the Number

In [ ]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:5
Enter the upper range:9
[(5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

# Write python program to have a list of words  to sort them from  shortest to longest using list of tuples

In [ ]:
txt = 'but soft what light in yonder window breaks' 
words = txt.split()
t = list() 
for word in words: 
  t.append((len(word), word)) 
t.sort(reverse=True) 

res = list() 
for length, word in t: 
  res.append(word) 

print (res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

#Write python program to get a list of tuples of Rollno,Name for 5 students

In [ ]:
my_list = [ ('John', 40), ('Dana', 35), ('Betty', 10), ('Robby', 8), ('Jones', 20) ] 
my_list.sort()
print("simple sort") 
print(my_list)

simple sort
[('Betty', 10), ('Dana', 35), ('John', 40), ('Jones', 20), ('Robby', 8)]